n8n-workflows/title-workflow-minimax-v10.json
{
  "name": "標題生成-MiniMax-v10",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-title-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "webhook-title-v3",
      "name": "Webhook",
      "webhookId": "generate-title-v3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_keywords",
        "filterType": "string",
        "filterString": "=category=eq.{{ $json.body.category }}"
      },
      "credentials": {
        "supabaseApi": {
          "id": "FaXcKdFEjJpVuJhK",
          "name": "Supabase account 2"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1.3,
      "position": [
        220,
        -80
      ],
      "id": "supabase-get-rows",
      "name": "Get many rows"
    },
    {
      "parameters": {
        "jsCode": "var rows = $input.all().map(function(i){return i.json;});\nvar wb = $items('Webhook')[0].json;\nvar kw = (wb.body && (wb.body.keyword || wb.body.subject)) || '';\nvar t = rows.map(function(r){return ((r.title||'').replace(/\\s+/g,' ')).trim();}).filter(function(x){return x.length>0;}).map(function(x){return x.slice(0,60);});\nvar u = [...new Set(t)];\nreturn [{json:{keyword:kw, titles:u.slice(0,50), count:u.slice(0,50).length}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "code-prepare",
      "name": "Code - Prepare"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.com/v1/text/chatcompletion_v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "MiniMax-M2.7"
            },
            {
              "name": "max_tokens",
              "value": "4000"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"你是資深電商商品標題策略師。請根據以下資訊生成1個新標題。使用者關鍵詞：{{ $json.keyword }}。請嚴格遵守：1) 58-60字（中文）2) 只輸出JSON格式：{\"title\":\"...\",\"rationale\":\"...\"}\"}]"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk-cp-zcSs-W2GX-CWRDKGcE1acXSlE17l-p6EBVg-1c7KiLSBz65J17jrHeZDoOPl4Jagp-DTdozuynKXgCvjRDfpOvB9d2tDgnEGvBGt26ogj5YCp2XkO4RyGgg"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "http-minimax",
      "name": "HTTP Request - MiniMax"
    },
    {
      "parameters": {
        "jsCode": "var r = $input.first().json;\nvar res = {ok:true, title:'', rationale:''};\ntry {\n  var c = r.choices && r.choices[0] && r.choices[0].message && r.choices[0].message.content;\n  if (!c) { res.ok = false; res.error = 'MiniMax無content'; res.raw = JSON.stringify(r).slice(0,300); return [{json:res}]; }\n  var text = c.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n  var match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    var p = JSON.parse(match[0]);\n    res.title = (p.title||'').slice(0,100);\n    res.rationale = (p.rationale||'').slice(0,50);\n  } else { res.ok = false; res.error = '無法解析JSON'; res.raw = text.slice(0,200); }\n} catch(e) { res.ok = false; res.error = e.message; try { res.raw = (r.choices&&r.choices[0]&&r.choices[0].message&&r.choices[0].message.content||'').slice(0,200); } catch(e2) { res.raw = ''; } }\nreturn [{json:res}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "code-parse",
      "name": "Code - Parse Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": {{ $json.ok }},\n  \"title\": \"{{ $json.title }}\",\n  \"rationale\": \"{{ $json.rationale }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1100,
        0
      ],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code - Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare": {
      "main": [
        [
          {
            "node": "HTTP Request - MiniMax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - MiniMax": {
      "main": [
        [
          {
            "node": "Code - Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}